section.contact {
  background: #3c5499;
  padding: 120px 0;
  text-align: center;
}

//text
section.contact h2 {
  @include font($fs: 40px, $fw: 700, $ls: 0.1em, $lh: .82);
  text-transform: $tt;
}

section.contact h2::after {
  content: "";
  display: block;
  width: 85px;
  height: 4px;
  background: rgba($color: #000, $alpha: .15);
  margin: 20px auto 18px;
  margin-top: 20px;
}

section.contact .description {
  @include font ($fs: 18px, $ls: 0.02em, $lh: 24px);
  margin-bottom: 70px;
}

//form
section.contact .contact_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 856px;
  margin: 0 auto;
}

section.contact .contact_form input[type="text"],
section.contact .contact_form input[type="email"] {
  @include font($fs: 18px);
  width: calc(50% - 16px);
  margin-bottom: 25px;
  background: #273a71;
  border: none;
  border-radius: 3px;
  padding-left: 23px;
  height: 56px;
}

section.contact .contact_form input::placeholder,
section.contact .contact_form input::placeholder,
section.contact .contact_form textarea::placeholder {
  @include font($fs: 18px);
}

section.contact .contact_form textarea {
  width: 100%;
  margin-bottom: 60px;
  background: #273a71;
  @include font($fs: 18px);
  border: none;
  padding: 23px 0 0 23px;
  height: 200px;
  border-radius: 3px;
  resize: none;
}

//button
section.contact input[type="submit"] {
  margin: 0 auto;
  border: none;
  display: inline-block;
  height: 65px;
  padding: 0 85px;
  border-radius: 4px;
  background-color: #30bae7;
  text-transform: uppercase;
  border-bottom: 4px solid #299ec5;
  transition: $animation;
  @include font($fs: 18px, $fw: 600, $ls: 0.02em, $lh: 65px);
}

section.contact input[type="submit"]:hover,
section.contact input[type="submit"]:focus {
  transition: $animation;
  background: #299ec5;
}
