footer.footer {
  background: #344b8e;
}

footer.footer a:hover {
  color: #30bae7
}

//items
.footer_social {
  @include font($fs: 24px, $fw: 600, $ls: 0.02em);
}

.footer_social ul {
  min-height: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_social a {
  color: #fff;
}
