header {
  background: #87509c;
}

.top_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 150px;
}

.top_line img {
  padding: 30px 0 30px 0;
}

.header_nav {
  @include font($lh: 18px);
  text-transform: $tt;
}

.header_nav ul {
  display: flex;
}

.header_nav ul li {
  padding: 0 18px 0 18px;
  height: 30px;
  line-height: 30px;
  transition: $animation;
  cursor: pointer;
}

.header_nav ul li.active {
  background: $third-color;
  border-radius: 4px;
}

.header_nav ul li:not(:last-child) {
  margin-right: 1px;
  @media (min-width: 320px) and (max-width: 650px) {
    margin: 0;
    margin-bottom: 10px;
   }
}

.header_nav ul li:hover,
.header_nav ul li:focus {
  background: $third-color;
  border-radius: 4px;
  transition: $animation;
}

//text
.bottom_line {
  text-align: center;
  padding: 80px 0 145px 0;
}

.bottom_line p {
  @include font($fs: 42px, $fw: 700, $fc: #f7f3ea, $lh: 48px);
  margin-bottom: 58px;
}

//button
.bottom_line .button {
  display: inline-block;
  height: 65px;
  padding: 0 85px;
  border-radius: 4px;
  background-color: #eb7d4b;
  text-transform: uppercase;
  border-bottom: 4px solid #c86a40;
  transition: $animation;
  @include font($fs: 18px, $fw: 600, $ls: 0.02em, $lh: 65px);
}

.bottom_line .button:hover,
.bottom_line .button:focus {
  transition: $animation;
  background: #c86a40;
}
