 section.contact {
  @media (min-width: 320px) and (max-width: 650px) {
    background: #000;
    padding: 30px 0 50px 0;
    width: 100%;
  }
}

//text
section.contact h2 {
  @media (min-width: 320px) and (max-width: 650px) {
    line-height: 50px;
  }
}

section.contact h2::after {
  @media (min-width: 320px) and (max-width: 650px) {
    background: rgba($color: #fff, $alpha: 1.0);
  }
}

section.contact p.description {
  @media (min-width: 320px) and (max-width: 650px) {
    margin-bottom: 45px;
  }
}

//form
section.contact .contact_form {
  @media (min-width: 320px) and (max-width: 650px) {
    flex-direction: column;
  }
}

section.contact .contact_form input[type="text"],
section.contact .contact_form input[type="email"],
section.contact .contact_form textarea {
  @media (min-width: 320px) and (max-width: 650px) {
    @include font($fs: 18px, $fc: #000);
    background: #fff;
    width: 100%;
    display: inline-block;
    margin-bottom: 50px;
  }
}

section.contact .contact_form input::placeholder,
section.contact .contact_form input::placeholder,
section.contact .contact_form textarea::placeholder {
  @media (min-width: 320px) and (max-width: 650px) {
    @include font($fs: 18px, $fc: #000);
  }
}

//button
section.contact .contact_form input[type="submit"] {
  @media (min-width: 320px) and (max-width: 650px) {
    background: $third-color;
    border: none;
    padding: 0 55px;
    margin: 0 auto;
  }
}
