footer.footer {
   @media (min-width: 320px) and (max-width: 650px) {
    background: #000;
    min-height: 150px;
   }
}

footer.footer .footer_social {
  @media (min-width: 320px) and (max-width: 650px) {
    @include font($fs: 20px);
  }
}

footer.footer .footer_social ul {
  @media (min-width: 320px) and (max-width: 650px) {
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
  }
}

footer.footer .footer_social li {
  @media (min-width: 320px) and (max-width: 650px) {
   align-self: flex-start;
   text-align: center;
  }
}

footer.footer .footer_social li:not(:nth-child(-2n+3)) {
  @media (min-width: 320px) and (max-width: 650px) {
    width: 35%;
  }
}

footer.footer .author {
  @media (min-width: 320px) and (max-width: 650px) {
    @include font($fs: 12px);
    margin-top: 20px;
  }
}
