/*Normalize************************************/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*Global optimization picteres*****************/
img {
  display: block;
  max-width: 100%;
}
/**********************************************/

/*Global optimization buttons******************/
button {
  border: none;
  background-color: transparent;
}
/**********************************************/

/*Global optimization list*********************/
ul,
ol {
  list-style: none;
}
/**********************************************/

/*Added styles for links***********************/
a {
  text-decoration: none;
  cursor: pointer;
}
/***********************************************/

/*Added styles for headers***********************/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
/***********************************************/

.container {
  max-width: 1140px;
  width: calc(100% - 40px);
  margin: 0 auto;
}
