//HEADER
//menu
header .header_nav .header_nav__menu {
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all .8s ease 0s;
}

header .header_nav .header_nav__menu._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

//text
header .bottom_line .header__title {
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all .8s ease .2s;
}

header .bottom_line .header__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

//////////////////////////////////////////
//SERVICES
//text
section.services .text {
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all .8s ease .0s;
 }

section.services .text._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all .8s ease .0s;
}

section.services .description .text {
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all .8s ease .0s;
}

section.services .description .text._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all .8s ease .0s;
}

//service-list
section.services h3 {
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all .8s ease .0s;
}

section.services h3._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all .8s ease .2s;
}

section.services p {
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all .8s ease .0s;
}

section.services p._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all .8s ease .4s;
}
//////////////////////////////////////////////
//CONTACT
//contact-form
section.contact .text {
  transform: translate(0px, 50%);
  opacity: 0;
  transition: all .8s ease .0s;
}

section.contact .text._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all .8s ease .12s;
}
//////////////////////////////////////////////
//FOOTER
